.cadreoffer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
  border-radius: var(--Radius-Medium, 8px);
}
.imgpffer01 {
  width: 405px;
  height: 309px;
  border-radius: var(--Radius-Medium, 8px);
  filter: brightness(70%);
}
.minoffer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin: 32px;
  width: 330px;
}
.svgoffer {
  width: 48px;
  height: 48px;
}
.text01cadreoffer {
  color: var(--Color-White, #fff);

  /* Heading/H4 */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Heading-4, 40px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
  letter-spacing: -0.4px;
}
.text02cadreoffer {
  color: var(--Color-White, #fff);

  /* Text/Regular/Normal */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Text-Regular, 18px);
  /* font-style: normal; */
  font-weight: 400;
  line-height: 150%; /* 27px */
  width: 100%;
}
.exporttextcadre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  height: 50px;
  border: 0;
  background-color: transparent;
}
.exporttext {
  color: var(--Color-White, #fff);
}
.svg02 {
  width: 24px;
  height: 24px;
  margin-top: auto 0;
}
@media (max-width: 700px) {
  .cadreoffer {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 335px;
    height: 350px;
    align-self: stretch;
    border-radius: var(--Radius-Medium, 8px);
  }

  .imgpffer01 {
    width: 100%; /* لتملأ عرض الشاشة */ /* للحفاظ على نسبة الصورة */
    border-radius: 6px;
    filter: brightness(70%);
    height: 80%;
  }
  .minoffer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin: 32px;
    width: fit-content;
  }
  .text02cadreoffer {
    color: var(--Color-White, #fff);

    /* Text/Regular/Normal */
    font-family: "Inter", sans-serif;
    font-size: var(--Text-Sizes-Text-Regular, 18px);
    /* font-style: normal; */
    font-weight: 400;
    line-height: 150%; /* 27px */
    width: 10%;
  }
  .svgoffer {
    width: 36px;
    height: 36px;
  }

  .text01cadreoffer {
    font-size: 28px; /* تصغير العنوان */
    line-height: 120%; /* 33.6px */
    letter-spacing: -0.3px;
  }

  .text02cadreoffer {
    font-family: "Inter", sans-serif;

    font-size: 14px; /* تصغير النصوص */
    line-height: 18px;
    width: fit-content;
  }

  .exporttextcadre {
    gap: 6px;
    margin-top: 6px;
    height: 40px;
  }

  .exporttext {
    font-size: 14px;
  }

  .svg02 {
    width: 20px;
    height: 20px;
  }
}
