.eventcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  height: 557px;
  border-radius: var(--Radius-Medium, 8px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(5, 9, 6, 0.15));
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
}
.eventphoto {
  height: 270px;
  position: relative;
  align-self: stretch;
  aspect-ratio: 405.33/270;
  border-radius: var(--Radius-Medium, 8px);
}
.eventdate {
  position: absolute;
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  width: 112px;
  padding: 12px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--Radius-Small, 8px);
  background: var(--Color-Scheme-1-Background, #fff);
}
.infcardevent {
  display: flex;
  font-family: "Inter", sans-serif;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.eventtxt01 {
  display: flex;
  padding: 4px 10px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid var(--Opacity-Neutral-Darkest-15, rgba(5, 9, 6, 0.15));
  background: var(--Opacity-Neutral-Darkest-5, rgba(5, 9, 6, 0.05));
}
.eventtxt02 {
  color: var(--Color-Scheme-1-Text, #050906);

  /* Heading/H5 */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Heading-5, 32px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 41.6px */
  letter-spacing: -0.32px;
}
.eventtxt03 {
  color: var(--Color-Scheme-1-Text, #050906);

  /* Text/Regular/Normal */
  font-size: var(--Text-Sizes-Text-Regular, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.txtlearn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: transparent;
}
.svglearn {
  width: 24px;
  height: 24px;
}
.evdate01 {
  color: var(--Color-Scheme-1-Text, #050906);
  text-align: center;

  /* Text/Small/Normal */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Text-Small, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.evdate02 {
  color: var(--Color-Scheme-1-Text, #050906);
  text-align: center;
  font-family: "Inter", sans-serif;

  /* Heading/H4 */
  font-size: var(--Text-Sizes-Heading-4, 40px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
  letter-spacing: -0.4px;
}
.evdate03 {
  color: var(--Color-Scheme-1-Text, #050906);
  text-align: center;

  /* Text/Small/Normal */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Text-Small, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
