.qcadre {
  border-radius: var(--Radius-Large, 8px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(5, 9, 6, 0.15));
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  margin: 0 50px;
}
.qp1 {
  display: flex;
  padding: 20px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  align-self: stretch;
  color: var(--Color-Scheme-1-Text, #050906);
}
.qp11 {
  color: var(--Color-Scheme-1-Text, #050906);

  /* Text/Medium/Bold */
  font-size: var(--Text-Sizes-Text-Medium, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.qp12 {
  position: relative;
  width: 24px;
  height: 24px;
}
.qp2 {
  display: flex;
  padding: 0 24px 24px 24px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--Color-Scheme-1-Text, #050906);

  /* Text/Regular/Normal */
  font-size: var(--Text-Sizes-Text-Regular, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
