.text01title {
  color: var(--Color-Scheme-1-Text, #050906);
  text-align: center;

  /* Heading/Tagline */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  /* margin-top: 200px; */
}
.text02title {
  color: #6f4e37;
  text-align: center;
  margin-top: 16px;
  /* Heading/H2 */
  font-family: "Inter", sans-serif;
  font-size: var(--Text-Sizes-Heading-2, 60px);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 72px */
  letter-spacing: -0.6px;
}
.text03title {
  color: var(--Color-Scheme-1-Text, #050906);
  text-align: center;
  margin-top: 24px;
  /* Text/Medium/Normal */
  font-size: var(--Text-Sizes-Text-Medium, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  font-family: "Inter", sans-serif;
}
.atitle > div {
  opacity: 0;
  transform: translateY(30px);
}

/* animation order */
.atitle.animate .text01title {
  animation: fadeUp 0.6s ease-out forwards;
}

.atitle.animate .text02title {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.2s;
}

.atitle.animate .text03title {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
