.bookcadre {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
}
.threebut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
}
.activation {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-bottom: 2px solid var(--Color-Scheme-1-Text, #050906);
}
.but3three {
  border: 0;
  background-color: transparent;
  height: 45px;
}
.content {
  transition: opacity 5s ease;
  opacity: 1;
}

.content.animate {
  opacity: 0;
}
.content-wrapper {
  transition: all 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.content-wrapper.fade-out {
  opacity: 0;
  transform: translateY(+200px); 
}

.content-wrapper.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.onclicked{
  color: #6F4E37;
  border-bottom: solid 1px #6F4E37;
}
