.borrowedbook {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  opacity: 0;
  transform: translateY(50px);
}

/* عند الدخول */
.borrowedbook.animate {
  animation: fadeUp 0.8s ease forwards;
}

/* عناصر داخلية بتدرج */
.borrowedbook > * {
  opacity: 0;
  transform: translateY(30px);
}

.borrowedbook.animate > *:nth-child(1) {
  animation: fadeUp 0.5s ease forwards;
}

.borrowedbook.animate > *:nth-child(2) {
  animation: fadeUp 0.5s ease 0.2s forwards;
}

.borrowedbook.animate > *:nth-child(3) {
  animation: fadeUp 0.5s ease 0.4s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
