.cadrepresent {
  display: flex;
  flex-wrap: wrap;
  /* height: 640px; */
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--Radius-Large, 8px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(5, 9, 6, 0.15));
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
}
.place {
  height: 640px;
  filter: brightness(80%);
  border-radius: 8px;
  width: 600px;
  /* align-self: stretch;
  aspect-ratio: 1/1; */
}
.textlistweek {
  display: flex;
  padding: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}
.textcadreweek01 {
  color: var(--Color-Scheme-1-Text, #000000);

  /* Heading/Tagline */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.textcadreweek02 {
  color: var(--Color-Scheme-1-Text, #000000);

  /* Heading/H3 */
  font-size: var(--Text-Sizes-Heading-3, 48px);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -0.48px;
}
.textcadreweek03 {
  color: var(--Color-Scheme-1-Text, #000000);

  /* Text/Regular/Normal */
  font-size: var(--Text-Sizes-Text-Regular, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
@media (max-width: 700px) {
  .cadrepresent {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .place {
    align-self: center;
    width: 80%;
    height: 320px; /* تقليل الارتفاع في الهاتف */
  }

  .textlistweek {
    padding: 16px;
    gap: 16px;
    align-items: center;
    text-align: center;
  }

  .textcadreweek01 {
    font-size: 14px; /* أصغر على الهاتف */
    line-height: 20px;
  }

  .textcadreweek02 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.3px;
  }

  .textcadreweek03 {
    font-size: 16px;
    line-height: 24px;
  }
}
