.question {
  display: flex;
  max-width: var(--Container-container-large, 1280px);
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
.qbutcon {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--Opacity-Neutral-Darkest-15, rgba(5, 9, 6, 0.15));
}
