.Statisticscss {
  display: flex;
  padding: var(--Section-Padding-padding-section-large, 112px)
    var(--Page-Padding-padding-global, 64px);
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  font-family: "Inter", sans-serif;
}
.containersta {
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  align-self: stretch;
}
.conelement01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}
.conelement02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.impactsta1 {
  color: #050906;

  /* Heading/Tagline */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.impactsta2 {
  color: #050906;

  /* Heading/H2 */
  font-size: var(--Text-Sizes-Heading-2, 60px);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 72px */
  letter-spacing: -0.6px;
}
.impactsta3 {
  color: #050906;

  /* Text/Medium/Normal */
  font-size: var(--Text-Sizes-Text-Medium, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.Statisticscss {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  opacity: 0;
  transform: translateY(60px);
}

.Statisticscss.animate {
  animation: fadeUp 0.8s ease forwards;
}

.containersta {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  width: 100%;
}

.conelement01,
.conelement02 {
  flex: 1;
}

/* stagger animation */
.Statisticscss > * {
  opacity: 0;
  transform: translateY(30px);
}

.Statisticscss.animate > *:nth-child(1) {
  animation: fadeUp 0.5s ease forwards;
}
.Statisticscss.animate > *:nth-child(2) {
  animation: fadeUp 0.5s ease 0.2s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 700px) {
  .conelement01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .conelement02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    align-self: center;
    width: 295px;
  }
  .Statisticscss {
    display: flex;
    padding: var(--Section-Padding-padding-section-large, 64px)
      var(--Page-Padding-padding-global, 20px);
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
  }
  .containersta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
  }
}
