.weekcss {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  opacity: 0;
  transform: translateY(50px);
}

/* عند الدخول */
.weekcss.animate {
  animation: fadeUp 0.8s ease forwards;
}

/* عناصر داخلية بتأخير */
.weekcss > * {
  opacity: 0;
  transform: translateY(30px);
}

.weekcss.animate > *:nth-child(1) {
  animation: fadeUp 0.6s ease forwards;
}

.weekcss.animate > *:nth-child(2) {
  animation: fadeUp 0.6s ease 0.3s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
